@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* ! GLOBAL */

body,
button {
    font-family: "Inter", sans-serif;
}

#root {
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 550px;
}

/* ! FIXME: */

main {
    min-height: 90vh;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

a {
    color: #161616;
    text-decoration: none;
}

section {
    padding: 0 26px;
    color: #161616;
}

ul {
    padding: 0;
    list-style: none;
}

#root {
    background-color: #fff7ed;
}

.button {
    display: block;
    padding: 10px 0;
    width: fit-content;
    border: none;
    background-color: #ff8c38;
    color: #fff;
    font-weight: 700;
    line-height: 32px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.section__header {
    font-size: 32px;
    line-height: 38px;
}

/* ! NAV */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 26px;
}

.nav__logo {
    width: 145px;
}

.nav__links {
    display: flex;
    gap: 12px;
}

.nav__link {
    color: #4d4d4d;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    -webkit-transition: color 0.3s ease, text-decoration 0.3s ease;
    -moz-transition: color 0.3s ease, text-decoration 0.3s ease;
    -ms-transition: color 0.3s ease, text-decoration 0.3s ease;
    -o-transition: color 0.3s ease, text-decoration 0.3s ease;
    -moz-text-decoration-color: transparent;
}

.nav__link:hover {
    color: #161616;
    text-decoration: underline;
}

/* ! HOMEPAGE */

.home__image {
    position: absolute;
    width: 550px;
    z-index: 1;
}

.home__content {
    position: relative;
    padding-top: 65px;
    min-height: calc(388px - 65px);
    color: #ffffff;
    z-index: 2;
}

.home__header {
    font-size: 36px;
    line-height: 42px;
}

.home__text {
    margin-top: 22px;
    line-height: 24px;
}

.home__button {
    margin-top: 50px;
    width: 100%;
}

/* ! ABOUT */

.section__about {
    margin-top: 45px;
}

.about__image {
    width: 100%;
}

.about__text {
    margin-top: 30px;
    line-height: 22px;
}

.about__text_extra {
    margin-top: 24px;
}

.hint_container {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 32px 37px;
    border-radius: 5px;
    background: #ffcc8d;
}

.hint__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.hint__button {
    margin-top: 25px;
    padding: 10px 22px;
    background-color: #161616;
}

/* ! VANS */

.vans__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.filter__container {
    display: flex;
    gap: 20px;
}

.filter__item {
    padding: 6px 26px 7px 26px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #4d4d4d;
    background-color: #ffead0;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease;
}

.filter__item:hover {
    color: #ffead0;
}

.filter_simple:hover,
.filter_simple.selected {
    background-color: #e17654;
}

.filter_luxury:hover,
.filter_luxury.selected {
    background-color: #161616;
}
.filter_rugged:hover,
.filter_rugged.selected {
    background-color: #115e59;
}

.selected {
    color: #ffead0;
}

.filter__button {
    color: #4d4d4d;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.vans__list {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.vans__card {
    width: fit-content;
}

.vans__card:hover .card__image {
    box-shadow: 0px 0px 6px 4px #cdcdcd;
}

.card__image {
    width: 230px;
    height: 230px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}

.card__info {
    display: flex;
    justify-content: space-between;
}

.card__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.card__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.price__span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: right;
}

.card__type {
    padding: 3px 14px;
    width: fit-content;
    background-color: #c4c4c4;
    color: #ffead0;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.simple {
    background-color: #e17654;
}

.rugged {
    background-color: #115e59;
}

.luxury {
    background-color: #161616;
}

/* ! DETAILS */

.details__back {
    margin-top: 40px;
}

.back__link {
    margin-left: 10px;
    color: #201f1d;
    line-height: 22px;
    text-decoration: underline;
}

.details__image {
    margin-top: 40px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.details__type {
    margin-top: 50px;
}

.details__name {
    margin-top: 20px;
    font-size: 32px;
    line-height: 34px;
}

.details__price {
    margin-top: 10px;
    font-size: 24px;
    line-height: 44px;
}

.price__span_details {
    font-weight: 400;
    font-size: 20px;
}

.details__description {
    margin-top: 10px;
    line-height: 24px;
}

.details__button {
    margin-top: 20px;
    margin-bottom: 85px;
}

/* ! HOST */

.host__nav {
    display: flex;
    gap: 30px;
    margin-bottom: 55px;
}

.host__link {
    font-size: 18px;
}

/* ! HOST VANS */

.section__host-vans {
    padding: 0;
}

.host-vans__link {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 24px 18px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.host-vans__card {
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
}

.host-vans__card:hover {
    box-shadow: 0px 0px 6px 1px #cdcdcd;
}

.host-vans__card:first-child {
    margin-top: 32px;
}

.host-vans__card:not(:first-child) {
    margin-top: 15px;
}

.host-vans__price {
    color: #4d4d4d;
}

.host-vans__image {
    width: 65px;
}

/* ! HOST DETAILS (VANS) */

.section__host-details {
    padding: 0;
    margin-bottom: 45px;
}

.host-details__container {
    margin-top: 36px;
    padding: 25px;
    border-radius: 6px;
    background: #fff;
}

.host-details__content {
    display: flex;
    align-items: center;
}

.host-details__image {
    width: 160px;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.host-details__name {
    margin-top: 18px;
    font-size: 26.058px;
    font-weight: 700;
    line-height: 27.404px;
}

.host-details__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.price__span_host {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
}

.host-details__nav {
    margin-top: 26px;
}

.host-details__links {
    gap: 22px;
}

.host-details__explicit {
    margin-top: 28px;
}

.explicit__text {
    font-size: 14.355px;
    line-height: 21.46px;
}

.explicit__text:first-child {
    margin-top: 28px;
}

.explicit__text:not(:first-child) {
    margin-top: 15px;
}

.explicit__bold {
    font-weight: 700;
}

.explicit__category {
    text-transform: capitalize;
}

.explicit__pricing {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 21.46px;
}

.explicit__pricing-span {
    font-weight: 500;
    font-size: 16px;
}

.explicit__image {
    width: 105px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ! NOT FOUND */

.section__not-found {
    margin-top: 100px;
}

.not-found__button {
    margin-top: 30px;
    width: 100%;
    background-color: #161616;
    border-radius: 4.983px;
}

/* ! FOOTER */

.footer {
    background-color: #252525;
}

.footer__text {
    padding: 25px 0;
    color: #aaa;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

/* ! LOADING */

.loading__container {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
