@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* ! GLOBAL */

body,
button {
    font-family: "Inter", sans-serif;
}

#root {
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 550px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

section {
    padding: 0 26px;
    color: #161616;
}

ul {
    padding: 0;
    list-style: none;
}

#root {
    background-color: #fff7ed;
}

.button {
    display: block;
    padding: 10px 0;
    width: fit-content;
    border: none;
    background-color: #ff8c38;
    color: #fff;
    font-weight: 700;
    line-height: 32px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* ! NAV */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 26px;
}

.nav__logo {
    width: 145px;
}

.nav__links {
    display: flex;
    gap: 12px;
}

.nav__link {
    color: #4d4d4d;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    -webkit-transition: color 0.3s ease, text-decoration 0.3s ease;
    -moz-transition: color 0.3s ease, text-decoration 0.3s ease;
    -ms-transition: color 0.3s ease, text-decoration 0.3s ease;
    -o-transition: color 0.3s ease, text-decoration 0.3s ease;
    -moz-text-decoration-color: transparent;
}

.nav__link:hover {
    color: #161616;
    text-decoration: underline;
}

/* ! HOMEPAGE */

.home__image {
    position: absolute;
    width: 550px;
    z-index: 1;
}

.home__content {
    position: relative;
    padding-top: 65px;
    min-height: calc(388px - 65px);
    color: #ffffff;
    z-index: 2;
}

.home__header {
    font-size: 36px;
    line-height: 42px;
}

.home__text {
    margin-top: 22px;
    line-height: 24px;
}

.home__button {
    margin-top: 50px;
    width: 100%;
}

/* ! ABOUT */

.section__about {
    margin-top: 45px;
}

.about__header {
    font-size: 32px;
    line-height: 38px;
}

.about__text {
    margin-top: 30px;
    line-height: 22px;
}

.about__text_extra {
    margin-top: 24px;
}

.hint_container {
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 32px 37px;
    border-radius: 5px;
    background: #ffcc8d;
}

.hint__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.hint__button {
    margin-top: 25px;
    padding: 10px 22px;
    background-color: #161616;
}

/* ! VANS */

.vans__header {
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
}

.vans__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__container {
    display: flex;
    gap: 20px;
}

.filter__item {
    padding: 6px 26px 7px 26px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #4d4d4d;
    background-color: #ffead0;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    -ms-transition: color 0.3s ease, background-color 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease;
}

.filter__item:hover {
    color: #ffead0;
}

.filter_simple:hover {
    background-color: #e17654;
}

.filter_luxury:hover {
    background-color: #161616;
}
.filter_rugged:hover {
    background-color: #115e59;
}

.filter__button {
    color: #4d4d4d;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.vans__list {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.vans__card {
    width: fit-content;
}

.card__image {
    width: 230px;
    height: 230px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card__info {
    display: flex;
    justify-content: space-between;
}

.card__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.card__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.price__span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: right;
}

.card__type {
    padding: 3px 14px;
    width: fit-content;
    background-color: #c4c4c4;
    color: #ffead0;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.simple {
    background-color: #e17654;
}

.rugged {
    background-color: #115e59;
}

.luxury {
    background-color: #161616;
}

/* ! FOOTER */

.footer {
    background-color: #252525;
}

.footer__text {
    padding: 25px 0;
    color: #aaa;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
